.btn-grid {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
    grid-template-rows: max-content max-content max-content max-content;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    height: auto;
}
.btn-grid1{
    width: 100%; 
}
.btn-grid2 {
    width: 100%;
}
#tab-texturas{
    padding-left: 20%;
}

.img-textura-catalago {
    position: relative;
    overflow: hidden;
  }
  .img-textura-catalago img {
    max-width: 100%; 
    -moz-transition: all 0.9s;
    -webkit-transition: all 0.9s;
    transition: all 0.9s;
  }
  .img-textura-catalago:hover img {
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  .esconder{
      display: none;
  }
