body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
     overflow: scroll;
}

canvas {
    background-color:#F5F2F0;
    width: 100%; 
    height: 600px;
    touch-action: none;
}
.item1 { grid-area: header;
    background-color: #c6aa2e !important;
    color: #f0f0f0;
    padding:0;
}
.item2 { grid-area: menu;
background: #d30808;  }
.item3 { grid-area: main;
width: 100%; 
height: 60%;

}
.item4 { grid-area: footer;
height: 25%; }
.acciones{grid-area:accion;}
.botones-confimarcion{
    grid-area:comf;
}
.botones-herramientas{
    grid-area:erra;
}
.grid-container {
display: grid;
grid-template-areas:
'header header header header header header'
'menu main main main main main'
'erra main main main main main'
'comf main main main main main'
'accion main main main main main'
'accion main main main main main'
'accion main main main main main'
'footer footer footer footer footer footer';
grid-gap: 10px;
padding: 10px;
}
.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 0;
font-size: 23px;
}

@media only screen and (max-width: 600px) {
.grid-container {

display: grid;
grid-template-areas:
  'header header header header header header'
  'menu menu menu menu menu menu'
  'main main main main main main'
  'erra erra comf comf comf comf'
  'accion accion accion accion accion accion'
  'footer footer footer footer footer footer';
grid-gap: 10px;
padding: 10px;
}
.item4{
height: 25%;
}
canvas {
    background-color:#F5F2F0;
    width: 100%; 
    height: 300px;
}

.botones-confimarcion * {
    color: red;
    width: 64px;

}
.botones-herramientas{
    height: 75px;
}
.botones-confimarcion{
    height: 75px;
}
.ulbotones{
    list-style: none;
    display: inline;
}

.btn {
    border-radius: 5px;
    padding: 0;
    font-size: 8px;
    text-decoration: none;
    margin: 0;
    color: #fff;
    position: absolute;
    display: inline-block;
}
/**/
} 
.materiales{
background-color:whitesmoke;
padding-top: 10px;
}
.modulos{
background-color:white;
padding-top: 10px;
}
.pago{
background-color:brown;
}
#topNav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding: 10px 0;
}
.opc-texturas {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding: 10px 0;  
}
.opc-modelo{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: space-evenly;
padding: 10px 0;  
}
li {
float: left;
}

li a {
display: block;
color: black;
text-align: center;
padding: 16px;
text-decoration: none;
}
li img {
width: 50%;
background-color: green;
height: auto;
}
.modulos{
border-top: 1px solid #e8e8e8;

}
.materiales{
border-top: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
}
.acciones{
border-top: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
}
h1{

font-family: 'Dancing Script', cursive;

}
h3{
font-family: 'EB Garamond', serif;
}
span{
font-family: 'Questrial', sans-serif;
color: #777;
}
.btn {
border-radius: 5px;
padding: 15px 25px;
font-size: 22px;
text-decoration: none;
margin: 20px;
color: #fff;
position: relative;
display: inline-block;
}

.btn:active {
transform: translate(0px, 5px);
-webkit-transform: translate(0px, 5px);
box-shadow: 0px 1px 0px 0px;
}

.blue {
background-color: #55acee;
box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
background-color: #6FC6FF;
}
.green {
background-color: #2ecc71;
box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
background-color: #48E68B;
}
.red {
background-color: rgb(235, 37, 2);;
box-shadow: 0px 5px 0px 0px rgb(245, 47, 12);;
}

.red:hover {
background-color:  rgb(265, 67, 32);;
}
footer{
margin: auto;
width: 50%;
padding: 10px;
border-top: 1px solid #e8e8e8;
}
footer ul {
list-style: none;
display: grid;
float: left;
}
footer h3 {
font-weight: 100;
margin-bottom: 0;
}
.pink{color: pink;}
.red{color: rgb(202, 187, 187);}
.orange{color: orange;}
.green{color: green;}
.grey{background-color:grey;}

.dg.main{
position: absolute;
z-index: 10;
top: 5%;
}
#btnAplicar{
visibility: hidden;
}
#btnCancelar{
visibility: hidden;
}
.dg ul{
display: grid;
}