html,
body {
    
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

canvas{
    height: 600px;
    width: 100%;
}
.header-render{
    grid-area: head;
    background-color: #fd5c1d !important;
}
.main-render{
    grid-area: main;
   }
.menu-render{
    grid-area: menu;
    background-color: #aaa2eb !important;
}
.footer-render{
    grid-area: foot;
    background-color: #06ffac !important;
}
.grid-container-render {
    display: grid;
    grid-template-areas:
      'head head head head head head'
      'menu main main main main main'
      'menu main main main main main'
      'menu main main main main main'
      'menu main main main main main'
      'menu main main main main main'
      'menu main main main main main'
      'foot foot foot foot foot foot';
    grid-gap: 10px;
    padding: 10px;
  }
  @media only screen and (max-width: 600px) {
  .grid-container-render {
    display: grid;
    grid-template-areas:
      'head head head head head head'
      'main main main main main main'
      'main main main main main main'
      'main main main main main main'
      'main main main main main main'
      'menu menu menu menu menu menu'
      'menu menu menu menu menu menu'
      'foot foot foot foot foot foot';
    grid-gap: 10px;
    padding: 10px;
  }
  canvas{
    height: auto;
    width: 100%;
}
}
  .grid-container-render > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 0;
    font-size: 23px;
  }