/*.motor3D {
    font-family: Monospace;
    background-color: #ffAAf0;
    margin: 0px;
     overflow: scroll;
}
*/
body {

    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}
.renderCanvas{
	touch-action: pan-up pan-down pinch-zoom;
}
.carrito li a {
	text-decoration: none;
}

.carrito ul li {
	list-style: none;
}

.product .price {
	color: #4DD7D3;
	font-weight: lighter;
}

.carrito {
	transform: translateX(200%);
	transition: all .5s;
	visibility: hidden;
	width: 0%;
	margin: 0;
	background-color: white;
	font-size: 16px;
	top: 0%;
	position: absolute;
	margin: 0;
	padding: 0;
	z-index: 2;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.carrito-activo {
	width: 50%;
	visibility: visible;
	transition: all .3s;
	transform: translateX(90%);
}

.total-desactivo {
	display: none;
	background-color: #15B358;
}

#row-productos {
	height: 16em;
	overflow: auto;
}
#row-productos:nth-child(2) {
	background: red;
}
#total-carrito {
	color: #7D7D7D;
}
.num-carrito{
color: #fff;
font-size: 15px;
font-weight: bold;
}

.rng-item {
	border-bottom: 1px solid #c7c7c7;
	height: 8.5em;
	padding: 0;
	margin: 0;
}
.row.rng-item:nth-child(odd) {
	background-color: #fcfcfc;
}
.img-carrito {
	margin-top: 20%;
}

.rng-desc-carrito {
	padding: 25px;
	padding-right: 0px;
}

.rng-btn-remover-carrito span {
	font-size: 20px;
}

.rng-btn-remover-carrito {
	padding-top: 2.5em;
}

.rng-precio {
	color: #3acca3;
	font-size: 25px;
}

.rng-div-cantidad {
	color: #bbb;
	font-size: 15px;
}

.rng-div-precio {
	padding-top: 1.5em;
	padding-left: 3em;
}

.icon-cross {
	display: none;
	cursor: pointer;
}

.rng-item:hover .icon-cross {
	display: block;
}

.div-nav {
	margin-left: 0px;
	margin-right: 0px;
}

.rng-total {
	margin: 0;
	padding: 0;
	padding-left: 25%;
	font-size: 2em;
	border-top: solid gray 1px;
}

.rng-total-titulo {
	text-align: left;
	color: #B0B0B0;
}

.total-carrito {
	text-align: center;
}

.rng-btn-total {
	padding-bottom: 15px;
	margin: 5px;
	width: 100%;
	font-size: 25px;
	height: 60%;
}
.btn-agregar-3d-a-carrito{
	visibility: visible;
}



.motor3D .modulos {
	border-top: 1px solid #e8e8e8;
}

.motor3D .modulos {
	grid-area: modu;
	background: #d30808;
}

.motor3D .pre-armado {
	grid-area: preA;
	background: #d30808;
}

.motor3D .modulos {
	background-color: white;
	/*padding-top: 10px;*/
}

.modulos ul li img {
	background-color: palevioletred;
	margin: 15px;
	/*padding-top: 10px;*/
}

.motor3D .dg.main {
	position: absolute;
	z-index: 0;
	/*z-index: 10;*/
	top: 42%;
	/*top: 5%;*/
}

.motor3D .opc-modulos {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px 0;
	width: 100%;
}

.motor3D .opc-PreArmado {
	list-style-type: none;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px 10px 10px 10px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.opc-PreArmado ul {
	background-color: green;
	padding: 10px;
}

.opc-PreArmado ul li {
	background-color: red;
	padding: 10px;
}

.opc-PreArmado ul li img {
	background-color: gold;
}

.motor3D .opc-herramienta {
	grid-area: hrr;
	list-style-type: none;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0;
}

.opc-herramienta ul {
	background-color: green;
	padding: 10px;
}

.opc-herramienta ul li {
	background-color: red;
	padding: 10px;
}

.opc-herramienta ul li img {
	background-color: gold;
}

.motor3D #btnRotar {
	/*margin-right: 1px;*/
	/*margin-left: 1px;*/
}

.btn-grid {
	display: grid;
	grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
	grid-template-rows: max-content max-content max-content max-content;
	width: 16em;
	overflow-x: auto;
	overflow-y: auto;
	white-space: nowrap;
	height: 5.3em;
}

.btn-grid1 {
	display: grid;
	grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
	grid-template-rows: max-content max-content max-content max-content;
	background-color: #f0f0f0;
	overflow: auto;
	white-space: nowrap;
	display: grid;
	grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
	grid-template-rows: max-content max-content max-content max-content;
	width: 16em;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.btn-grid2 {
	display: grid;
	grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
	grid-template-rows: max-content max-content max-content max-content;
	width: 16em;
	overflow-x: auto;
	overflow-y: auto;
	white-space: nowrap;
}

.btn-item-grid {
	color: #fff;
	font-size: 8px;
	text-transform: uppercase;
	display: inline-block;
	background-color: #333537;
	padding: 10px 10px;
	border: 0px;
	margin: 1px;
	height: 50px;
	width: 50px;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btn-imagen-grid {
	color: #fff;
	font-size: 8px;
	text-transform: uppercase;
	display: inline-block;
	background-color: #FFFFFF;
	padding: 0px 0px;
	border: 0px;
	margin: 1px;
	height: 50px;
	width: 50px;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btn-imagen-grid:hover {
	background-color: #6FC6FF;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
	-webkit-transform: translate3d(-1px, -2px, 0);
	transform: translate3d(-1px, -2px, 0);
}

.btn-item-grid:hover {
	background-color: #3d3f41;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
	-webkit-transform: translate3d(-1px, -2px, 0);
	transform: translate3d(-1px, -2px, 0);
}

.logo-pufino{
	max-width:100%;
	height:auto;
}
.materiales{
visibility: hidden;		
}

@media only screen and (min-width: 1224px) {
	/* Styles */
	.motor3D canvas {
		background-color: #F5F2F0;
		width: 55em;
		height: 25em;
		touch-action: pan-up pan-down pinch-zoom;
		/*CANVA margin Rigth*/
		/*margin-right: 1046px;*/
	}
	.logo-puffino {
		height: auto;
		width: 100%;
	}
}

@media only screen and (min-width: 700px) {
	/* Styles */
	.motor3D canvas {
		background-color: #F5F2F0;
		width: 40em;
		height: 22em;
		touch-action: pan-up pan-down pinch-zoom;
		/*CANVA margin Rigth*/
		/*margin-right: 1046px;*/
	}
	.logo-puffino {
		height: auto;
		width: 100%;
	}
	
}

/*
.motor3D .item1 { grid-area: header;
    background-color: #c6aa2e !important;
    color: #f0f0f0;
    padding:0;
}
*/

.motor3D .materiales {
	grid-area: mate;
	background: #d30808;
}

.item3 {
	grid-area: main;
	width: 100%;
	height: 100%;
}

.motor3D .item4 {
	grid-area: footer;
	height: 25%;
	background-color: red;
	background: red;
	width: 100%;
	height: 100%;
}

.motor3D .acciones {
	grid-area: accion;
}

.motor3D .botones-confimarcion {
	grid-area: comf;
}

.motor3D .botones-herramientas {
	grid-area: erra;
}

.motor3D .selecionMenu {
	grid-area: sclm;
	background-color: #efefef;
	display: none;
}

.selecionMenu button {
	height: 30px;
	font-size: 12px;
}

.motor3D .grid-container {
	display: grid;
	grid-template-areas: /*'header header header header header header'*/
	'preA preA main main main main' 'preA preA main main main main' 'mate mate main main main main' 'mate mate main main main main' 'modu modu main main main main' 'accion accion accion erra erra erra' 'footer footer footer footer footer footer';
	grid-gap: 10px;
	padding: 10px;
}

.motor3D .grid-container>div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 0;
	font-size: 23px;
}

.nav-tabs {
	font-size: 16px;
}

.motor3D .materiales {
	background-color: whitesmoke;
	padding-top: 10px;
}

.motor3D .pago {
	background-color: brown;
}

.motor3D #topNav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px 0;
}

.motor3D .opc-modelo {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px 0;
}

.motor3D li {
	float: left;
}

.motor3D li a {
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.nav-tabs li a {
	padding-bottom: 1px;
	padding-top: 1px;
}

.motor3D li img {
	height: auto;
}

.motor3D .materiales {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}


.motor3D h1 {
	font-family: 'Dancing Script', cursive;
}

.motor3D h3 {
	font-family: 'EB Garamond', serif;
}

.motor3D span {
	font-family: 'Questrial', sans-serif;
	color: #777;
}

.motor3D .btn {
	border-radius: 5px;
	padding: 2px 2px;
	font-size: 22px;
	text-decoration: none;
	margin: 5px;
	color: #fff;
	position: relative;
	display: inline-block;
}

.motor3D .btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.motor3D .blue {
	background-color: #55acee;
	box-shadow: 0px 5px 0px 0px #3C93D5;
}

.motor3D .blue:hover {
	background-color: #6FC6FF;
}

.motor3D .green {
	background-color: #2ecc71;
	box-shadow: 0px 5px 0px 0px #15B358;
}

.motor3D .green:hover {
	background-color: #48E68B;
}

.motor3D .red {
	background-color: rgb(235, 37, 2);
	;
	box-shadow: 0px 5px 0px 0px rgb(245, 47, 12);
	;
}

.motor3D .red:hover {
	background-color: rgb(265, 67, 32);
}

.motor3D footer {
	margin: auto;
	width: 50%;
	padding: 10px;
	border-top: 1px solid #15B358;
}

.motor3D footer ul {
	list-style: none;
	display: grid;
	float: left;
}

.motor3D footer h3 {
	font-weight: 100;
	margin-bottom: 0;
}

.motor3D .pink {
	color: pink;
}

.motor3D .red {
	color: rgb(202, 187, 187);
}

.motor3D .orange {
	color: orange;
}

.motor3D .green {
	color: green;
}

.motor3D .grey {
	background-color: grey;
}

.motor3D #btnAplicar {
	visibility: hidden;
	width: 30px;
	margin-right: 1px;
	margin-left: 1px;
}

.motor3D #btnCancelar {
	visibility: hidden;
	width: 30px;
	margin-right: 1px;
	margin-left: 1px;
}

.motor3D #btnRotar {
	margin-right: 1px;
	margin-left: 1px;
}

.motor3D .dg ul {
	display: grid;
}

#item4 {
	background-color: white;
	font-size: medium;
	border-style: none none solid none;
	border-width: thin;
	border-bottom-color: #d9d9d9;
}

div .item4 {
	background-color: #6FC6FF;
}

/*
div .materiales {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}
*/

.acciones:nth-child(2) {
	background: green;
}

.acciones:nth-child(1) {
	background: red;
}

.precios {
	background-color: #6FC6FF;
	float: left;
	width: 35%;
	margin-top: 1.1%;
}

.precios span {
	background-color: #6FC6FF;
	color: white;
}

#file-input {
	display: none;
}

.opc-PreArmado img {
	background-color: white;
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: solid 1px;
	border-color: grey;
}

.datGUI {
	position: relative;
}

.btnPrueba {
	background-color: rgb(149, 174, 190);
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
}

.imgMueble {
	background-color: #333537;
	width: 50%;
}

.grid-texturas {
	margin: 0;
	padding-left: 0%;
	padding-right: 0;
}

.topDivPush {
	height: auto;
	/*este over flow sirve para  que no se desmaquete*/
	overflow: hidden;
	width: 100%;
}

.img-fondo {
	grid-area: imgF;
}

.img-camara {
	grid-area: imgC;
}

.img-save {
	grid-area: imgS;
}

.img-rotate {
	grid-area: imgR;
}

.img-cancelar {
	grid-area: imgX;
}

.div-img-fotos {
	height: 190px;
}

.blue {
	background-color: #55acee;
	box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
	background-color: #6FC6FF;
}

.btn-agregar {
	background-color: #4E56DF;
	border: none;
	color: white;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 16px;
}
/*animacion para el botton */
  /* Ripple magic */
  .btn-agregar{
	position: relative;
	overflow: hidden;
  }
  
  .btn-agregar:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 5px;
	height: 5px;
	background: rgba(255, 255, 255, .5);
	opacity: 0;
	border-radius: 100%;
	transform: scale(1, 1) translate(-50%);
	transform-origin: 50% 50%;
  }
  
  @keyframes ripple {
	0% {
	  transform: scale(0, 0);
	  background-color: #4DD7D3;
	  opacity: 1;
	}
	20% {
		transform: scale(25, 25);
		opacity: 1;
		background-color: #15B358;
	}
	100% {
	  opacity: 0;
	  transform: scale(40, 40);
	  background-color: rgb(0, 128, 53);
	}
  }
  
  .btn-agregar:focus:not(:active)::after {
	animation: ripple 2s ease-out;
  }
  
.btn-agregar:hover {
	background-color: rgba(118, 124, 224, 0.904);
}

/*estilo de iconos*/



.btn-prearmado {
	border: none !important;
}

.tituloPagina {
	text-align: center;
	color: #3454DA;
	padding: 0;
	margin: 0;
	margin-top: 0px;
	margin-top: 3%;
}

.testimonial {
	text-align: center;
}

.img-sobre-nosotros {
	width: 178%;
}

@media only screen and (max-width: 1112px) {
	.icon-cross{
		padding: 33%;
	}
	.rng-item{
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.div-imgaen-carrito {
		padding: 0;
		margin: 0;
	
	}
	.logo-puffino {
		height: 3em;
		
	}
	.carrito {
		top: 9.5%;
	}
	.carrito-activo {
		width: 81%;
		visibility: visible;
		transition: all .3s;
		transform: translateX(4%);
		height: 18em;
		
	}
	#row-productos {
		height: 9em;
		overflow: auto;
		
	}
	.img-carrito{
		width: auto;
		position: relative;
		top: -15%;
		left: 30%;
	}
	.rng-desc-carrito {
		padding-top: 4%;
	}
	.rng-div-precio{
		margin: 0;
		padding-top: 4%;
	}
	.rng-precio{
		padding: 0;
	}
	.rng-div-cantidad{

	}
	.rng-btn-remover-carrito{
			
			padding-top: 3%;
			padding-left: 0px;
	}
}
@media only screen and (max-width: 600px) {
	.rng-item{
		padding-top: 7%;
		width: 100%;
	}
	.logo-puffino {
		height: 3em;
		
	}
	.carrito {
		top: 9.5%;
	}
	.carrito-activo {
		width: 81%;
		visibility: visible;
		transition: all .3s;
		transform: translateX(4%);
		height: 18em;
		
	}
	#row-productos {
		height: 9em;
		overflow: auto;
	}
	.img-carrito{
		height: auto;
		width: 100%;
	}
	.rng-desc-carrito {
		padding-top: 4%;
	}
	.rng-div-precio{
		margin: 0;

padding: 0;
	}
	.rng-precio{
		padding: 0;
	}
	.rng-div-cantidad{

	}
	.rng-btn-remover-carrito{
			
			padding-top: 3%;
			padding-left: 0px;
	}
	/*
document.getElementById('grid-container').style.gridTemplateAreas=
`
"preA preA preA main main main"
"preA preA preA main main main"
"mate mate mate main main main"
"mate mate mate main main main"
"accio accion accion sclm sclm sclm"
`;
*/
	.motor3D .grid-container {
		display: grid;
		grid-template-areas: /*'header header header header header header'*/
		'main main main main main main' 'sclm sclm sclm sclm sclm sclm' 'erra erra erra erra erra erra' 'preA preA preA preA preA preA' 'mate mate mate modu modu modu' 'accion accion accion accion accion accion' 'footer footer footer footer footer footer';
		grid-gap: 0px;
		padding: 0px;
	}
	.motor3D .modulos {
		background: #d30808;
		/*
		margin-right: 34px;
		padding-top: 38px;
		*/
	}
	.motor3D .item4 {
		height: 25%;
		background: red;
		width: 160px;
		height: 100%;
	}
	.motor3D canvas {
		background-color: #F5F2F0;
		width: 100%;
		height: 400px;
		margin-right: 0px;
		touch-action: pinch-zoom pan-up pan-down;
	}
	.motor3D .botones-herramientas * {
		height: 12;
		width: 12;
	}
	.motor3D .botones-confimarcion {
		height: 75px;
	}
	.motor3D .ul-botones {
		display: inline;
		list-style-type: none;
	}
	.motor3D .btn {
		border-radius: 5px;
		padding: 2px;
		font-size: 19px;
		text-decoration: none;
		margin: 0;
		color: #676767;
		position: relative;
		display: inline-block;
		background-color: #f7f7f7;
		border-color: #676767;
	}
	/**/
	.btn-grid {
		display: grid;
		grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content;
		grid-template-rows: max-content max-content max-content max-content max-content max-content max-content max-content max-content;
		width: 100%;
		height: 190px;
		overflow-x: auto;
		overflow-y: auto;
		white-space: nowrap;
		padding-left: 0%;
	}
	.btn-grid1 {
		display: grid;
		grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content;
		grid-template-rows: max-content max-content max-content max-content;
		width: 100%;
		height: 115px;
		overflow-x: auto;
		overflow-y: auto;
		white-space: nowrap;
		padding: 0%;
	}
	.btn-grid2 {
		display: grid;
		grid-template-columns: max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content;
		grid-template-rows: max-content max-content max-content max-content;
		width: 100%;
		height: 115px;
		overflow-x: auto;
		overflow-y: auto;
		white-space: nowrap;
		padding-left: 0%;
	}
	.btn-imagen-grid {
		font-size: 8px;
		text-transform: uppercase;
		display: inline-block;
		background-color: #fff;
		padding: 0px 0px;
		border: 0px;
		margin: 1px;
		height: 50px;
		width: 50px;
		-webkit-transition: all 0.1s ease;
		transition: all 0.1s ease;
	}
	.btn-imagen-grid:hover {
		background-color: #6FC6FF;
		box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
		-webkit-transform: translate3d(-1px, -2px, 0);
		transform: translate3d(-1px, -2px, 0);
	}
	.motor3D .dg.main {
		position: absolute;
		z-index: 0;
		/*z-index: 10;*/
		top: 0%;
		/*top: 5%;*/
	}
	.motor3D .opc-modulos {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding-top: 45px;
		width: 100%;
	}
	.motor3D .opc-PreArmado {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding-top: 0px;
		width: 100%;
		height: 200px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.opc-PreArmado li img {
		padding: 0px;
	}
	.motor3D .opc-herramienta {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		padding-top: 0px;
		width: 100%;
		height: 300px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	.opc-herramienta li img {
		padding: 0px;
	}
	.opc-herramienta li span label img {
		padding: 0px;
	}
	.nav-tabs {
		font-size: 12px;
	}
	.nav-tabs li a {
		padding-bottom: 1px;
		padding-top: 1px;
		padding-right: 7px;
		padding-left: 7px;
	}
	.motor3D .selecionMenu {
		grid-area: sclm;
		background-color: #efefef;
		display: block;
	}
	#iconosTexturas {
		display: none;
	}
	#iconosPrearmado {
		display: none;
	}
	#botones-herramientas {
		display: none;
	}
	#paypal-button-container {
		float: right;
		width: 65%;
		padding-left: 15%;
	}
	.precios {
		background-color: #6FC6FF;
		float: left;
		width: 35%;
		height: 100%;
	}
	#item4 {
		width: 100%;
		padding: 10px;
	}
	.div-precio {
		padding-bottom: 20%;
		padding-top: 20%;
	}
	.tabLink {
		padding: 0 0 0 8%;
	}
	.tabTexturas {
		padding-left: 25%;
		margin-top: 10px;
		font-size: .9em;
	}
	.tabLink.active {
		background-color: orange;
		border-radius: 5px;
		color: white;
	}
	.tab-id-0 {
		padding-left: 25%;
	}
	.tab-id-1 {
		padding-left: 25%;
	}
	.tab-id-2 {
		padding-left: 25%;
	}
	.slct-btn-foto {
		border: thin solid tomato;
		color: tomato;
	}
	.opc-PreArmado li {
		height: 100%;
		width: 100%;
	}
	.opc-PreArmado li img {
		width: 40%;
		padding: 10px;
	}
	.opc-modulos ul {
		width: 10px;
	}
	.imgMueble {
		background-color: #333537;
		width: 50%;
	}
	.botones-herramientas {
		height: 125px;
	}
	.img-menu {
		height: 59px;
		width: auto;
	}
	.div-img-fotos {
		margin-top: 5%;
	}
	.grid-texturas {
		margin: 0;
		padding-left: 0%;
		padding-right: 0;
	}
	.motor3D .botones-herramientas * {
		height: 12;
		width: 12;
		height: 60px;
		padding: 0 0 5px 5px;
	}
	.motor3D #btnRotar {
		width: auto;
		margin-right: 1px;
		margin-left: 1px;
	}
	.grid-texturas {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.img-sobre-nosotros {
		width: 206%;
	}
	.logo-puffino {
		height: 3em;
	}
}
	html{
		overflow-x: hidden !important;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}