/*#00abb3*/
/*: #FA675B*/
html {
	font-size: 16px;
}

.social-bar {
	position: fixed;
	right: 0;
	top: 25%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon2 {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #FA675B;
}

.icon-youtube{
	background: #FA675B;
}

.icon-instagram {
	background: #FA675B;
}

.icon2:first-child {
	border-radius: 1rem 0 0 0;
}

.icon2:last-child {
	border-radius: 0 0 0 1rem;
}

.icon2:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}